<!DOCTYPE html>
<html>
<head>
  <title>prototype</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
</head>

<body>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="home">Logo Goes Here</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="">Become a Tutor</a>
        </li>
        <li>
          <a href="">About</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#login-modal">Log In</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- LOGIN MODAL -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>

      <div class="modal-body">
        <%= form_for :user, html: { multipart: true }, method: 'post', url: '/login' do |f| %>
            <div class="input-group input-group-lg">
              <%= text_field(:user, :email, class: 'form-control input-lg', placeholder: "Email") %>
              <span class="input-group-addon" id="basic-addon2">@gatech.edu</span>
            </div>
            <div class="form-group">
              <%= text_field(:user, :password, class: 'form-control input-lg', placeholder: "Password", type: "password") %>
            </div>
            <%= f.submit "Log in", class: "btn btn-block signup-login-form__btn-xl btn-primary btn-large"%>
        <% end %>
      </div>
      <div class="modal-footer">
        <span class="signup-login-form__switch-copy" style="float: left">
        Don't have an account?
        </span>
        <a href="#signup-modal" data-toggle="modal" data-target="#signup-modal" id="closeLogInModal" class="btn btn-default btn-primary btn-xl">
          Sign Up
        </a>
      </div>
    </div>
  </div>
</div>


<!-- Sign up Modal -->




<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>

      <div class="modal-body">
        <%= form_for :user, html: { multipart: true }, method: 'post', url: '/signup' do |f| %>
          <div class="form-inline">
            <%= text_field(:user, :first_name, class: 'form-control input-lg', placeholder: "First Name") %>
            <%= text_field(:user, :last_name, class: 'form-control input-lg', placeholder: "Last Name") %>
          </div>
          <div class="input-group input-group-lg">
            <%= text_field(:user, :email, class: 'form-control input-lg', placeholder: "Email") %>
            <span class="input-group-addon" id="basic-addon2">@gatech.edu</span>
          </div>
          <div class="form-group">
            <%= text_field(:user, :password, class: 'form-control input-lg', placeholder: "Password", type: "password") %>
          </div>
          <div class="form-group">
            <%= text_field(:user, :password_confirmation, class: 'form-control input-lg', placeholder: "Confirm Password", type: "password") %>
          </div>
            <%= f.submit "Sign Up", class: "btn btn-block signup-login-form__btn-xl btn-primary btn-large"%>

        <div id="tos_outside" class="space-top-3">
          <small>
            By signing up, I agree to our <a href="" data-popup="true">Terms of Service</a>, <a href="" data-popup="true">Payments Terms of Service</a>, <a href="" data-popup="true">Privacy Policy</a>, <a href="" data-popup="true">Guest Refund Policy</a>, and <a href="" data-popup="true">Host Guarantee Terms</a>.
          </small>

        </div>
      </div>
      <div class="modal-footer">
        <span class="signup-login-form__switch-copy" style="float: left">
        Already have an account?
        </span>
        <a href="#login-modal" data-toggle="modal" data-target="#login-modal" class="btn btn-default btn-primary btn-xl" id="closeSignUpModal">
          Log in
        </a>
      </div>
        <% end %>
        </div>
  </div>
</div>

<script>
  $('#closeLogInModal').click(function() {
    $('#login-modal').modal('hide');
  });

  $('#closeSignUpModal').click(function() {
    $('#signup-modal').modal('hide');
  });


</script>

<%= yield %>
</body>
</html>
